{% extends 'base.html' %}

{% block title %}Login page{% endblock %}
{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Log In</button>
        <br /><br />
        <a href="{% url 'sign-up' %}">Create a new account</a>
    </form>
{% endblock %}