{% extends 'base.html' %}
{% block title %}
    Sign Up
{% endblock %}
{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Create an account</button>
    </form>

{% endblock %}