{% if paginator.num_pages > 1 %}
    <div>
        <ul class="pagination">
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="disabled page-item">
                        <a class="page-link"
                           href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
{% endif %}