{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Peralta|Roboto|Open+Sans|Frank+Ruhl+Libre" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBRfoqvMwfClYoOzDSskj52cqC16ECpEbrUwu_AmQ5rXsKWHTrFA">
    <style>
        body {
            font-family: 'Frank Ruhl Libre', sans-serif;
        }

        .nav-link {
            font-size: large;
            color: white !important;
            font-family: 'Peralta', cursive;
        }

        .nav-link:hover {
            font-size: x-large;
            color: yellow !important;
        }

        a {
            color: darkblue;
        }

        a:hover {
            color: deeppink;
            text-decoration: none;
        }

        .movie-title:hover{
            background-color: darkblue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img width="50px" src="{% static 'logo.svg' %}" alt='Logo'/> </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie' %}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'actor' %}">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'award' %}">Awards</a>
                </li>

            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.username %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'log-out' %}">Log out</a></li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'log-in' %}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-up' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <br/>
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $('.media').hover(function(){
        $(this).children('.media-body').children('#toHideDiv').css('display', 'block');
        $(this).children('#toHideDiv').css('display', 'block');
    }, function () {
        $(this).children('.media-body').children('#toHideDiv').hide();
        $(this).children('#toHideDiv').hide();
    });
</script>

{% block scripts %}
{% endblock %}
</body>
</html>