{% extends 'base.html' %}
{% block title %}Actors - create{% endblock %}
{% block content %}
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if field == form.alive %}
                    {% render_field field %}
                {% elif field == form.birth_date %}
                    {% render_field field class="form-control" type="date" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback" style="display: block">
                        {{ error }}
                    </div>
                {% endfor %}

                {% if field.help_text %}
                    <small class="form-text text-muted">
                        {{ field.help_text }}
                    </small>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}