{% extends 'base.html' %}
{% load static %}
{% block title %}Actors - {{ actor.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="border: none;">
                    <strong>Name</strong> : {{ actor.name }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Sex</strong>: {{ actor.sex.title }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Date of birth</strong>: {{ actor.birth_date | date:"SHORT_DATE_FORMAT" }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Nation</strong>: {{ actor.nationality }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Filmography: </strong>:
                    <ul class="list-group list-group-flush">
                        {% for movie in movies %}
                            <li class="list-group-item" style="border: none">
                                <a href="{% url 'movie-detail' movie.pk %}">{{ movie.title }}</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item" style="border: none"> N/A </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item" style="border: none">
                    <br />
                    <a href="{% url 'actor' %}">See other Actors</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}