{% extends 'base.html' %}
{% block title %}Actors{% endblock %}

{% block content %}
    <h2>Actors <a class="float-right mr-3 btn btn-primary" href="{% url 'actor-create' %}">New actor</a></h2>
    <hr/>
    <div>
        <ul class="list-group list-group-flush">
            {% for actor in actors %}
                <li class="list-group-item media">
                    <span style="height: 50px">
                        <a href="{% url 'actor' %}{{ actor.pk }}">
                        {{ actor.name }}
                        </a>
                    </span>
                    <span id="toHideDiv" style="display: none">
                        <a href="{% url 'actor-delete' actor.pk %}" class="float-right mr-3 btn btn-secondary">
                        Delete
                    </a>
                    <a href="{% url 'actor-edit' actor.pk %}" class="float-right mr-3 btn btn-primary">
                        Edit
                    </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}