{% extends 'base.html' %}
{% block title %}Awards{% endblock %}

{% block content %}
    <h2>Awards <a class="float-right mr-3 btn btn-primary" href="{% url 'award-create' %}">New award</a></h2>
    <hr/>
    <div>
        <h3>Movies</h3>
        <ul class="list-group list-group-flush">
            {% for award in awards %}
                {% if award.kind == "movie" %}
                    <li class="list-group-item">
                        <a href="{% url 'award' %}{{ award.pk }}">
                            {{ award.name }}
                        </a>
                        <a href="{% url 'award-delete' award.pk %}" class="float-right mr-3 btn btn-secondary">
                            Delete
                        </a>
                        <a href="{% url 'award-edit' award.pk %}" class="float-right mr-3 btn btn-primary">
                            Edit
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3> Actors </h3>
        <ul class="list-group list-group-flush">
            {% for award in awards %}
                {% if award.kind == "actor" %}
                    <li class="list-group-item">
                        <a href="{% url 'award' %}{{ award.pk }}">
                            {{ award.name }}
                        </a>
                        <a href="{% url 'award-delete' award.pk %}" class="float-right mr-3 btn btn-secondary">
                            Delete
                        </a>
                        <a href="{% url 'award-edit' award.pk %}" class="float-right mr-3 btn btn-primary">
                            Edit
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}
