{% extends 'base.html' %}
{% load static %}
{% block title %}Awards - {{ award.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="border: none;">
                    <strong>Name</strong> : {{ award.name }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Kind</strong>: {{ award.kind.title }}
                </li>
                <li class="list-group-item" style="border: none">
                    {% if award.kind == "movie" %}
                        <strong>Movies win this</strong>:
                        <ul>
                            {% for movie in award.movies.iterator %}
                                <li> <a href="{% url 'movie-detail' movie.pk %}">{{ movie.title }}</a> </li>
                            {% empty %}
                                <li>N/A</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong>Actors win this</strong>:
                        <ul>
                            {% for actor in award.actors.iterator %}
                                <li><a href="{% url 'actor-detail' actor.pk %}">{{ actor.name }}</a></li>
                            {% empty %}
                                N/A
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <li class="list-group-item" style="border: none">
                    <br />
                    <a href="{% url 'award' %}">See other Awards</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}