{% extends 'base.html' %}
{% block title %}Awards - create{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% load widget_tweaks %}


        <div class="form-group">
            {{ form.name.label_tag }}
            {% render_field form.name class="form-control" %}
            {% for error in form.name.errors %}
                <div class="invalid-feedback" style="display: block">
                    {{ error }}
                </div>
            {% endfor %}
            {% if form.name.help_text %}
                <small class="form-text text-muted">
                    {{ form.name.help_text }}
                </small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.kind.label_tag }}
            {% render_field form.kind class="form-control" %}
            {% for error in form.kind.errors %}
                <div class="invalid-feedback" style="display: block">
                    {{ error }}
                </div>
            {% endfor %}
            {% if form.kind.help_text %}
                <small class="form-text text-muted">
                    {{ form.kind.help_text }}
                </small>
            {% endif %}
        </div>

        <div class="form-group" id="grpMovies">
            {{ form.movies.label_tag }}
            {% render_field form.movies class="form-control" %}
            {% for error in form.movies.errors %}
                <div class="invalid-feedback" style="display: block">
                    {{ error }}
                </div>
            {% endfor %}
            {% if form.movies.help_text %}
                <small class="form-text text-muted">
                    {{ form.movies.help_text }}
                </small>
            {% endif %}
        </div>

        <div class="form-group" id="grpActors">
            {{ form.actors.label_tag }}
            {% render_field form.actors class="form-control" %}
            {% for error in form.actors.errors %}
                <div class="invalid-feedback" style="display: block">
                    {{ error }}
                </div>
            {% endfor %}
            {% if form.actors.help_text %}
                <small class="form-text text-muted">
                    {{ form.actors.help_text }}
                </small>
            {% endif %}
        </div>


        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}

{% block scripts %}
        <script>
            function showGroup() {
                let kind = $('#id_kind').val();
                if (kind === 'actor') {
                    $('#grpActors').show();
                    $('#grpMovies').hide();
                } else if (kind === 'movie') {
                    $('#grpActors').hide();
                    $('#grpMovies').show();
                } else {
                    $('#grpActors').hide();
                    $('#grpMovies').hide();
                }
            }

            $( document ).ready(function() {
                showGroup();
                $('#id_kind').on('change', showGroup);
            });
        </script>
{% endblock %}