{% extends 'base.html' %}
{% block content %}
    <h5> Edit comment: </h5>
    <form method="post" novalidate style="width: 100%">
        {% load widget_tweaks %}
        {% csrf_token %}
        {% render_field form.text class="form-control" style="width: 100%" %}
        {% for error in form.text.errors %}
            <div class="invalid-feedback" style="display: block">
                Please fill out the comment.
            </div>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
