{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Movies - {{ movie.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4 text-center">
            {% if movie.logo %}
                <img width="100%" style="max-height: 25em" src="{{ movie.logo.url }}" class="rounded" alt="...">
            {% else %}
                <img width="100%" style="max-height: 25em" src="{% static 'nopicture.gif' %}" class="rounded" alt="...">
            {% endif %}
        </div>

        <div class="col-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="border: none;">
                    <strong>Title</strong> : {{ movie.title }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Description</strong>: {{ movie.description }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Release date</strong>: {{ movie.release_date }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Category</strong>: {{ movie.category }}
                </li>
                <li class="list-group-item" style="border: none">
                    <strong>Actors</strong>:
                    <ul class="list-group list-group-flush">
                        {% for actor in movie.actors.iterator %}
                            <li class="list-group-item" style="border: none">
                                <a href="{% url 'actor-detail' actor.pk %}">{{ actor.name }}</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                N/A
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item text-right" style="border: none">
                    <a href="{% url 'movie' %}">See other Movies</a>
                </li>
            </ul>
        </div>
    </div>
    <br/> <br/>

    <div class="card">
        <div class="card-header">
            Comments
        </div>
        <div class="card-body">
            <div id="commemt_section">
                {% for comment in comments %}
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-header">
                            <strong>{{ comment.user }}</strong>
                            <small class="float-right"> Last modified: {{ comment.modified | naturaltime }}</small>
                        </div>
                        <div class="card-body">
                            <div id="comment_{{ forloop.counter }}">
                                <p>{{ comment.text }}</p>
                                {% if request.user == comment.user %}
                                    <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-default float-right">Delete</a>
                                    <a href="{% url 'comment-edit' comment.pk %}" class="btn btn-default float-right">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br/>
            <h5 class="card-title">Leave your reply</h5>
            <form id="comment_form" method="post" style="width: 100%">
                {% load widget_tweaks %}
                {% csrf_token %}
                <textarea class="form-control" placeholder="Message" name="text" id="comment" cols="100" rows="10" required></textarea>
                <br/>
                <button type="submit" class="float-right btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}