{% extends 'base.html' %}
{% load static %}
{% block title %}Movies{% endblock %}

{% block content %}
    <h2>Movies <a class="float-right mr-3 btn btn-primary" href="{% url 'movie-create' %}">New movie</a></h2>
    <hr/>
    <div>
        <ul class="list-group list-group-flush">
            {% for movie in movies %}
                <li class="list-group-item">
                    <div class="media position-relative">
                        {% if movie.logo %}
                            <img class="img-rounded mr-3" width="100px" height="100px" src="{{ movie.logo.url }}" alt="{{ movie.title }}">
                        {% else %}
                            <img class="img-rounded mr-3" width="100px" height="100px" src="{% static 'nopicture.gif' %}" alt="{{ movie.title }}">
                        {% endif %}
                        <div class="media-body">
                            <a href="{% url 'movie' %}{{ movie.pk }}">
                                <h5 class="mt-0"><span class="movie-title">{{ movie.title }}</span></h5>
                            </a>
                            <span>{{ movie.description | truncatechars:130 }}</span>
                            <span id="toHideDiv" style="display: none;">
                                    <a href="{% url 'movie-delete' movie.pk %}" class="btn btn-secondary ml-3 float-right">Delete</a>
                                    <a href="{% url 'movie-edit' movie.pk %}" class="btn btn-primary float-right">Edit</a>
                            </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}